{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Here's is my first deployed web application to the web, from <em>100 Days Python Course.</em></p>
        <p>There's was some hard points of time making this challenge, got some mistakes and was a little hard to find them 😊.</p>
        <p>Having good motivation to do and learn something more efficient with Python. Right now i'm going forward with my course,
        to upgrade not only my knowledge but also experience and skill for searching faster my mistakes in code.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}